<h2>Celebrities</h2>
<div>
    {{#each celebrity}}
    <div>
      <p><b>Name:</b> {{name}}</p>
      <p><b>Occupation:</b> {{occupation}}</p>
      <p><b>Catch Phrase:</b> {{catchPhrase}}</p>
    </div>
    {{/each}}
</div>