<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- Celebrities --}}
<a href="/celebrities">Celebrities</a>
<a href="/celebrities/create">Create a celebrity</a>
<!-- Movies -->
<a href="/movies">Movies</a>
<a href="/movies/create">Create a movie</a>
