
 <div>
      <h3><b>Title:</b> {{response.title}}</h3>
      <p><b>Genre:</b> {{response.genre}}</p>
      <p><b>Plot:</b> {{response.plot}}</p>
     
    
    </div>
    <p><b>Cast:</b>
    {{#each response.cast}}
  {{this.name}}
    {{/each}}
    </p>
</div>

<button class="Delete">Delete</button>
