<h2>New movie</h2>

<form action="/movies/create" method="post">
    <label>
        Title:
        <input type="text" name="title" >
    </label>
   
    <label>
        Genre:
        <input type="text" name="genre">
    </label>

    <label>
        Plot:
        <input type="text" name="plot">
    </label>

    <label>
        Cast:
        <select name="cast">
            {{#each allCelebrities}} 
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

     <button>Save changes</button>
</form>